.testimonials-container {
  --spacer: 2rem;
  display: grid;
  gap: var(--spacer);
  grid-auto-flow: column;
  grid-auto-columns: 40%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding: var(--spacer);
  /* background: rgb(242, 242, 242);
  background: linear-gradient(
    49deg,
    rgba(242, 242, 242, 1) 0%,
    rgb(242, 75, 153) 100%
  ); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3rem;
}

.testimonial-card {
  padding: var(--spacer);
  background-color: white;
  border-radius: 5px;
  border-top: 10px solid teal;
  box-shadow: 0 0 10px 10px rgba(0, 128, 128, 0.04);
}