.testimonials-container {
  --spacer: 2rem;
  display: grid;
  gap: var(--spacer);
  grid-auto-flow: column;
  grid-auto-columns: 40%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding: var(--spacer);
}

.testimonial-card {
  padding: var(--spacer);
  background-color: white;
  border-radius: 5px;
  border-top: 10px solid teal;
  box-shadow: 0 0 10px 10px whitesmoke;
}